﻿@model Lakeba.Recruiter.Models.RecruitViewModel

@using (Html.BeginForm("Recruit", "Home", FormMethod.Post, new { enctype = "multipart/form-data", name = "mainform", id = "mainform" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div style="margin-top:20px;">
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
            <div>
                @Html.EditorFor(m => m.Name, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Surname, new { @class = "col-md-2 control-label" })
            <div>
                @Html.EditorFor(m => m.Surname, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Position, new { @class = "col-md-2 control-label" })
            <div>
                @Html.EditorFor(m => m.Position, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.CurriculumPath, new { @class = "col-md-2 control-label" })
            <div>
                @Html.TextBoxFor(m => m.File, new { type = "file" })
                @Html.ValidationMessageFor(m => m.File)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-10">
                <input type="submit" class="btn btn-default" value="Save" />
            </div>
        </div>
    </div>
}
