﻿<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
    <h3 class="modal-title">Delete Candidate</h3>
</div>
<div class="modal-body">
    <div class="container">
        <p>Are you sure to delete this candidate?</p>
    </div>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-md-6 pull-left">
            <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
            </div>
        </div>

        <div class="col-md-6 pull-right">
            <button class="btn btn-warning" ng-click="cancel()"><i class="glyphicon glyphicon-thumbs-down"></i> Cancel</button>
            <button class="btn btn-danger" ng-click="ok(candidate)"><i class="glyphicon glyphicon-trash"></i> Delete</button>

        </div>
    </div>
</div>