﻿<div class="panel panel-primary">

    <div class="panel-heading">Candidates</div>
    <div class="panel-body">
        <div class="col-md-6">
            <a class="btn btn-primary" href="#/myrecruits/new"><i class="glyphicon glyphicon-file"></i> Add New Recruit</a>
        </div>
        <div class="col-xs-10 col-lg-6 col-md-6">
            
        </div><!-- /.col-lg-6 -->
        <div class="table table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>SurName</td>
                        <td>Position</td>
                        <td>Curriculum</td>
                        <td>Actions</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="rec in recruits">
                        <td>{{rec.Name}}</td>
                        <td>{{rec.Surname}}</td>
                        <td>{{rec.PositionName}}</td>
                        <td>
                            <a class="btn btn-primary" target="_blank" href="{{rec.CurriculumPath}}">
                                <i class="glyphicon glyphicon-list-alt"></i>
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-primary" href="#/myrecruits/{{rec.Id}}">
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>
                            <a class="btn btn-danger" ng-click="modalDelete('md',rec)">
                                <i class="glyphicon glyphicon-remove"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<script>
    Quixxi.q.push(['SendEvent', {
        "event_category": "PageVisited",
        "event_value": "RecruiteList",
        "event_detail": "RecruiteList",
        "event_object":
            {
                "pagename": "RecruitList",
                "counter": "1"
            }
    }]);
</script>