﻿<div class="panel panel-primary">

    <div class="panel-heading">Candidate</div>
    <div class="panel-body">
        <form class="form-horizontal" role="form" id="recruitForm" name="recruitForm">

            <div class="form-group">
                <label for="recruitName" class="col-sm-3 control-label">Name</label>
                <div class="col-sm-6">
                    <input type="text" id="recruitName" name="recruitName" class="form-control"
                           ng-model="recruit.Name" ng-required="true" placeholder="Your Name" />

                </div>
            </div>
            <div class="form-group">
                <label for="surName" class="col-sm-3 control-label">SurName</label>
                <div class="col-sm-6">
                    <input type="text" id="surName" name="surName" class="form-control"
                           ng-model="recruit.Surname" ng-required="true" placeholder="SurName" />
                </div>
            </div>

            <div class="form-group">
                <label for="position" class="col-sm-3 control-label">Position</label>
                <div class="col-sm-6">
                    <select name="position" ng-required="true" class="form-control" id="position" ng-model="recruit.PositionId" ng-options="pos.Id as pos.Desc for pos in positions">
                        <option value="">-- Select Position --</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="curicullum" class="col-sm-3 control-label">Curicullum</label>
                <div class="col-sm-6">
                    <input type="file" ngf-select ng-model="File" name="file" ngf-max-size="2MB">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4 col-md-offset-3 col-sm-3 col-sm-offset-3 ">
                    <button id="cancelSave" name="cancelSave" class="btn btn-warning"
                            ng-click="cancel()">
                        <i class="glyphicon glyphicon-thumbs-down"></i> Cancel
                    </button>
                    <button id="submitButton" name="submitButton" class="btn btn-primary"
                            ng-click="saveContact(File)">
                        <i class="glyphicon glyphicon-thumbs-up"></i> Save
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    Quixxi.q.push(['SendEvent', {
        "event_category": "PageVisited",
        "event_value": "RecruiteForm",
        "event_detail": "RecruiteForm",
        "event_object":
            {
                "pagename": "RecruitForm",
                "counter": "1"
            }
    }]);
</script>